/**
 * This CSS file styles the discog_mediator module's theme functions.
 */

/**
 * From theme_discog_info_text()
 */

/* Artist/label/etc. name */
h3.discog-info-name {
  font-style: italic;
}
/* Image */
img.discog-info-image {
  float: left;
  display: inline;
  margin-right: 2em;
  margin-bottom: 3em;
}
/* Description */
div.discog-info-description {
  display: inline;
}
/* Link to provider's website */
a.discog-info-link {
  font-style: italic;
}

/**
 * From theme_discog_selections()
 */

/* Table row */
tr.discog-option-row {
  font-size: 1em;
}
/* Minimizes the width of the select column (CSS 3)*/
tr.discog-option-row td:nth-child(1) {
  width: 1%;
}
/* Minimizes the width of the thumbnail column (CSS 3)*/
tr.discog-option-row td:nth-child(2) {
  width: 1%;
}
/* Thumbnail */
img.discog-option-thumb {

}
/* "Title" (could be album title or name of artist/label/etc.) */
span.discog-option-title {
  font-weight: bold;
}
/* Artist, IF release is being displayed (otherwise artist name = Name) */
span.discog-option-artist {
  font-style: italic;
}
/* Format */
span.discog-option-format {

}
/* Record label */
span.discog-option-label {

}
/* Catalog number */
span.discog-option-catno {

}
/* Wrapper for label & catalog number */
div.discog-option-label-container {

}
/* Link to provider page */
span.discog-option a {
  font-style: italic;
}
/* Wrapper for extra data */
.discog-option-extra-data-container {
  font-size: 0.9em;
}
